body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#p5-canvas-container {
  width: 100vw;
  height: 100vh;
}

button {
  z-index: 10;
  background-color: #00c3ff;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #008acb;
}
